<div class="row row-mt-15em">
    <div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
        <h1>Planing Trip To Anywhere in The World?</h1>
    </div>
    <div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
        <div class="form-wrap">
            <div class="tab">

                <div class="tab-content">
                    <div class="tab-content-inner active" data-content="signup">
                        <h3>Book Your Trip</h3>
                        
                        <a class="nav-link text-dark" asp-controller="Reservation" asp-action="CreateReservation">Book Reservation</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>