@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<link href="~/css/site.css" rel="stylesheet" />
<div class="container basic-wrapper">
    <main role="main" class="pb-3">
        <h1>@ViewData["Title"]</h1>
        <p>
            Please check your email to reset your password.
        </p>

        </main>
</div>